<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input.group">
    <label for="name">Nombre</label>
    <input type="text" required name="name" id="name" [(ngModel)]="register.name" />
    <p>Mensajes de error</p>
  </div>

  <div class="input.group">
    <label for="email">Email</label>
    <input type="email" required name="email" id="email" [(ngModel)]="register.email" />
    <p>Mensajes de error</p>
  </div>

  <div class="input.group">
    <label for="password">Contraseña</label>
    <input type="password" required name="password" id="password" [(ngModel)]="register.password" />
    <p>Mensajes de error</p>
  </div>

  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>
<hr />


<h1>ngClass & ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
[ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid,
}">
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div [ngStyle]="{
    'width.px':box.width,
    'height.px':box.height,
    'background-color':box.background,
    'display': 'block'
  }"></div>
</div>
<hr />

<h1>class & style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto Texto Texto </p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar"  />
  </div>
</div>
<hr />

<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">

  <p *ngSwitchCase="'Nicolas'">La persona es Nicolas</p>

  <p *ngSwitchCase="'Julian'">La persona es Julian</p>

  <p *ngSwitchCase="'Camilo'">La persona es Camilo</p>

  <p *ngSwitchDefault>No hace match con ninguno</p>
</div>

<hr />


<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0"> No hay nombres</li>
  <li *ngFor="let name of names; index as i">{{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Nicolas'">Soy Nicolas</p>
<p *ngIf="person.name === 'Julian' && person.age === 18; else elseBlock">
  Soy Julian
</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr />

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Edad {{ person.age }}</p>
<input
  type="number"
  max="18"
  min="10"
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>
<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nobis
    voluptas ipsam perferendis unde eveniet ad molestias officia eius eum
    laboriosam, omnis aliquid, iure cumque illo ipsum iusto debitis veniam! Odio
    repellat saepe dolore doloribus mollitia, doloremque nam, magnam ut
    consectetur officiis excepturi dicta ratione aut veniam aliquid harum error
    illo, quod molestiae? Aspernatur ipsam voluptate excepturi qui
    exercitationem pariatur. Officia quo similique vero, quod cum inventore
    porro quisquam deserunt rem, aliquam non quaerat sed hic esse magnam
    explicabo, quae velit aliquid voluptas incidunt optio. Asperiores non ipsam
    autem rem. Error, recusandae cupiditate? Impedit recusandae ducimus at
    natus, vero esse quas distinctio, molestiae debitis voluptatum error facilis
    corrupti labore. Reiciendis qui obcaecati vel amet consequatur dolorem,
    placeat ad voluptas odio. Facere rem voluptatem ratione, commodi quod
    voluptates consectetur reiciendis mollitia voluptatibus magnam non, aliquam
    perferendis a ipsum dolor obcaecati, quasi sit amet ad quas asperiores
    delectus ab dolore nostrum. Saepe. Dicta inventore fugiat a eos corrupti
    adipisci, esse minima quam odit obcaecati. Sunt expedita, velit, eius ad
    minima deserunt tempore odit, temporibus et veritatis repudiandae. Laborum
    quas possimus delectus at?
  </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" />
<img width="200" src="{{ img }}" alt="image" />
<hr />

<h1>Hola mundo</h1>
<h2>{{ "hola mundo ".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="200" src="{{ img }}" alt="imagen" />
